{% extends 'base.html' %}

{% block title %}Iniciar Sesión - Yoga Terapia{% endblock %}

{% block content %}
<section class="auth-section">
    <div class="container" >
        <div class="auth-card">
            <h1 class="auth-title">Iniciar Sesión</h1>
            <form method="POST" action="{{ url_for('auth.login') }}" class="auth-form">
                <div class="form-group">
                    <label for="username">Usuario</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" class="btn-primary btn-full">Ingresar</button>
            </form>
            <div class="auth-links">
                <p>¿No tienes una cuenta? <a href="{{ url_for('auth.register') }}">Regístrate como Instructor</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}